table {
    border-collapse: collapse;
}
.cell {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(24, 24, 48);
    background-color: rgb(158, 232, 250);
    
}

.redCell {
    background: rgb(226, 35, 35);
}