
* {
    margin: 0;
    padding: 0;
}
.container {
    margin:  0 auto;
    width: 1140px;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
    flex-wrap: wrap;
    width: 400px;
    margin:  0 auto;
    border-radius: 3px;
    padding: 20px 30px;
    background-image: url(img/burger.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: 220px 20px;
    margin-top: 60px;
    box-shadow: -1px 1px 20px -1px rgba(17, 40, 57, 0.2);
}
.topping {
    width: 60%;
    & fieldset {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 0 5px 5px;
        border-radius: 7px;
        border-color: rgb(184, 184, 184);
        & legend {
            margin-bottom: 20px;
        }
    }
}

.stuffing, .size {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.title {
    font-size: 36px;
     margin-bottom: 30px;
}

.order-btn {
    width: 50%;
    border-radius:7px;
    background-color: rgb(245, 249, 249);
    outline: none;
    padding: 10px 0;
    border: 2px solid rgb(184, 184, 184);
}

.desc-order {
    width: 60%;
}