@mixin flex($justify-content, $flex-direction, $align-items) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
    align-items: $align-items;
}

* {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.container {
    margin: auto;
    width: 1140px;
}

.menu {
    background-color: gray;
    height: 50px;
    &-pos {
        @include flex(start, row, center);
        gap: 20px;
        height: 100%;
    }
    &-list {
        @include flex(flex-start, row, start);
        gap: 25px;
        height: 10px;
    }
    &-link {
        list-style-type: none;
        position: relative;       
        &::before {
            content: "";
            border-radius: 20px;
            height: 10px;
            width: 10px;
            position: absolute;
            background-color: aliceblue;
            justify-content: flex-start;
        }
    }
}

.search {
    padding: 5px 15px;
    outline: none;
    border-radius: 2px;
    border: none;
    min-width: 800px;
    color: gray;
}
.cart {
    border: 1px solid rgb(175, 171, 171);
    height: 50px;
    &-items{
        @include flex(space-between, column, start);
        padding: 30px;
        gap: 10px;
        display: none;
        background-color: rgb(249, 253, 251);
        position: absolute;
        z-index: 1; 
        top: 140px;  
        font-size: 24px;
        box-shadow: -1px 1px 20px -1px rgba(17, 40, 57, 0.2);
        &-descr {
            @include flex(space-between, row, center);
            gap: 20px;
            font-size: 20px;
            // border-bottom: 1px solid grey;
        } 
    }
}

.botton-pos {
    @include flex(end, row, center);
    height: 100%;
}

.cart-button {
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    border: 1px solid rgb(160, 160, 196);
    position: relative;
    
    
}

.goods {
    &-list{@include flex(start, row, center);
        gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
    }
    &-item {
        padding: 10px;
        @include flex(start, column, start);
        box-shadow: -1px 1px 20px -1px rgba(17, 40, 57, 0.2);
    }
    &-img {
       height: 150px;
       width: 150px; 
       box-shadow: -2px 2px 45px -1px rgba(17, 40, 57, 0.2);
       padding: 5px;
       
    }
    &-button {
        align-self: flex-end;
        justify-self: flex-end;
        padding:  5px 10px;
        border-radius: 10px;
        border: 3px solid rgb(173, 175, 176);

        // outline: none;
        // background-color: aqua;
    }
}
hr {
    width: 100%;
}